<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("Layouts/_HeadPartial")
    @RenderSection("head", required: false)
</head>
<body>
    @RenderBody()
    @await Html.PartialAsync("Layouts/_ScriptsPartial")
    @RenderSection("scripts", required: false)
</body>
</html>
